In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import math

In [2]:
patient= pd.read_csv("COVID_19.csv")
patient.head(5)

,,gender,Region2,detected_state,nationality,Travel_hist,Disease_hist,Symptom,Label
0,23,Female,Bebusarai,Bihar,India,India,Null,Null,Negative
1,41,Female,Balasore,Orissa,India,India,Diabetes,Null,Negative
2,21,Female,Erode,Tamil Nadu,India,India,Null,Fever,Negative
3,55,Male,Gurugram,Haryana,Italy,Italy,BP,Fever,Positive
4,41,Female,Bhilwara,Rajasthan,India,India,BP,Dry Cough,Positive

In [3]:
print('no of patient in original data:' +str(len(patient.index)))

no of patient in original data:974

## Data Wrangling

In [4]:
patient.isnull().sum()

                  0
gender            0
Region2           0
detected_state    0
nationality       0
Travel_hist       0
Disease_hist      0
Symptom           0
Label             0
dtype: int64

In [5]:
clean_num = {"gender": {"Male":1, "Female":0},
             "Label":  {"Positive":1, "Negative":0}}
patient.replace(clean_num, inplace=True)
patient.head(5)

,,gender,Region2,detected_state,nationality,Travel_hist,Disease_hist,Symptom,Label
0,23,0,Bebusarai,Bihar,India,India,Null,Null,0
1,41,0,Balasore,Orissa,India,India,Diabetes,Null,0
2,21,0,Erode,Tamil Nadu,India,India,Null,Fever,0
3,55,1,Gurugram,Haryana,Italy,Italy,BP,Fever,1
4,41,0,Bhilwara,Rajasthan,India,India,BP,Dry Cough,1

In [6]:
patient.drop(['Region2','nationality'],axis=1,inplace=True)

In [7]:
patient.head(5)

       gender detected_state Travel_hist Disease_hist    Symptom  Label
0  23       0          Bihar       India         Null       Null      0
1  41       0         Orissa       India     Diabetes       Null      0
2  21       0     Tamil Nadu       India         Null      Fever      0
3  55       1        Haryana       Italy           BP      Fever      1
4  41       0      Rajasthan       India           BP  Dry Cough      1

In [8]:
label_encoder=LabelEncoder()
patient['Travel_hist']=  label_encoder.fit_transform(patient['Travel_hist'])  
patient['detected_state']=  label_encoder.fit_transform(patient['detected_state'])
#patient['Travel_hist'].unique() 
patient.head(5)

       gender  detected_state  Travel_hist Disease_hist    Symptom  Label
0  23       0               1           24         Null       Null      0
1  41       0              18           24     Diabetes       Null      0
2  21       0              22           24         Null      Fever      0
3  55       1               7           30           BP      Fever      1
4  41       0              21           24           BP  Dry Cough      1

In [9]:
Symp= pd.get_dummies(patient['Symptom'])
Symp.head(5)

   Breathing Problem  Dry Cough  Fever  Null  Sore Throat
0                  0          0      0     1            0
1                  0          0      0     1            0
2                  0          0      1     0            0
3                  0          0      1     0            0
4                  0          1      0     0            0

In [10]:
Dis= pd.get_dummies(patient['Disease_hist'])
Dis.head(5)

   BP  Diabetes  Null
0   0         0     1
1   0         1     0
2   0         0     1
3   1         0     0
4   1         0     0

In [11]:
patient= pd.concat([patient,Symp,Dis],axis=1)
patient.head(5)

,,gender,detected_state,Travel_hist,Disease_hist,Symptom,Label,Breathing Problem,Dry Cough,Fever,Null,Sore Throat,BP,Diabetes,Null
0,23,0,1,24,Null,Null,0,0,0,0,1,0,0,0,1
1,41,0,18,24,Diabetes,Null,0,0,0,0,1,0,0,1,0
2,21,0,22,24,Null,Fever,0,0,0,1,0,0,0,0,1
3,55,1,7,30,BP,Fever,1,0,0,1,0,0,1,0,0
4,41,0,21,24,BP,Dry Cough,1,0,1,0,0,0,1,0,0

In [13]:
patient.drop(['Symptom','Disease_hist'],axis=1,inplace=True)
patient.head(10)

,,gender,detected_state,Travel_hist,Label,Breathing Problem,Dry Cough,Fever,Null,Sore Throat,BP,Diabetes,Null
0,23,0,1,24,0,0,0,0,1,0,0,0,1
1,41,0,18,24,0,0,0,0,1,0,0,1,0
2,21,0,22,24,0,0,0,1,0,0,0,0,1
3,55,1,7,30,1,0,0,1,0,0,1,0,0
4,41,0,21,24,1,0,1,0,0,0,1,0,0
5,25,0,22,24,1,0,1,0,0,0,0,0,1
6,41,1,4,24,0,0,0,0,1,0,0,1,0
7,41,0,23,24,1,0,1,0,0,0,1,0,0
8,41,0,13,24,0,0,0,0,0,1,0,1,0
9,35,1,10,42,1,0,1,0,0,0,0,0,1